.body {
    font-family: serif;
}

#container {
    margin: 0 auto;
    width: 100%;
    background-color: white;
}

#header_title {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 4em;
    height: 1em;
    color: #0f80f0;
}

#header_logo {
    margin-top: 0.4em;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border: 2px solid lightblue;
    box-shadow: -7px 2px 17px blue;
}

#menu_container {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.menu_item {
    font-size: 2em;
    margin-left: 1em;
    text-decoration: none;
}

.gallery {
    margin-top: 5em;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-areas: " aside aside step1 step1 step1" "aside aside photo photo photo";
}

#gallery_aside {
    grid-area: aside;
    font-size: 2em;
    margin-left: 1.3em;
}

.contact p {
    color: #0f80f0;
    font-size: 0.7em;
}

#contact_img {
    margin-top: 1em;
    width: 100%;
    border: 2px solid lightblue;
    box-shadow: -7px 2px 17px blue;
}

iframe {
    border: 2px solid lightblue;
    box-shadow: -7px 2px 17px blue;
}

.step1 {
    margin-top: 1em;
    grid-area: step1;
    display: flex;
    flex-direction: row;
    margin-left: -150px;
    color: #0f80f0;
}

.step1 img {
    width: 25%;
    margin-left: -10em;
}

.step1 p {
    font-size: 1.9em;
}

.row {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 45% 45% 45%;
    grid-template-areas: " photo photo photo";
    gap: 3em;
}

.product {
    border: 1px solid lightgrey;
}

.product__image {
    max-width: auto;
    height: 9em;
    padding-left: 1em;
}

.product__brand {
    text-align: center;
}

.product__bottom {
    text-decoration: none;
}

.product__price {
    font-weight: bold;
    text-align: center;
}

#gallery_aside {
    width: 30%;
    padding: 1em;
}

.menu_gallery {
    text-decoration: none;
    display: flex;
    flex-direction: row;
}


/*newsletter*/

.wrap {
    position: relative;
    top: 66em;
    left: -15em;
}

.wrap h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 170;
}

.email-box {
    height: 65px;
    display: flex;
    justify-content: center;
}

.email-box img {
    background: #e5e8e8;
    width: 50px;
    line-height: 40px;
}

.tbox,
.btn {
    border: none;
    outline: none;
}

.tbox {
    width: 0px;
    transition: 0.6s;
}

.email-box:hover>.tbox,
.tbox:focus {
    width: 260px;
    padding: 0 10px;
}

.btn {
    background: #e5e8e8;
    color: black;
    padding: 0 10px;
    cursor: pointer;
}

footer {
    margin-top: 6.9em;
    text-align: center;
    font-size: 2em;
}